body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  --b-radius: 6px;
  --c-gray: gray;
  --c-blue: #4096FF;
  --c-purple: #8F90F5;
  --c-green: #D1F577;
  --c-purple-transparent: #8f91f59a;
  --c-black: black;
  --c-white-transparent: rgba(255, 255, 255, 0.40);
  --c-white: white;
  --c-pink: #ff0080;
  --border: 1px solid var(--c-white);
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
}

.app {
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-blue-transparent);
  border-radius: var(--b-radius);
}

textarea[readonly],
textarea[readonly]:hover,
textarea[readonly]:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--c-white-transparent);
  backdrop-filter: blur(14px);
}

.greetings {
  color: var(--c-white);
  font-weight: 500;
  text-align: center;
}

.main {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.calendar-wrapper,
.todos-wrapper {
  display: flex;
  justify-content: center;
}

.calendar-wrapper {
  animation: slide-up 1s ease-in-out;
  position: relative;
  top: 0;
}

.todos-wrapper {
  animation: slide-down 1s ease-in-out;
  position: relative;
  top: 0;
}

.calendar {
  background-color: var(--c-white-transparent);
  backdrop-filter: blur(14px);
  padding: 20px;
  border-radius: var(--b-radius);
  border: var(--border);
}

.calendar,
.todos {
  max-width: 500px;
  width: 100%;
}

.add-task-input {
  display: flex;
  gap: 10px;
  background-color: var(--c-white);
  padding: 10px;
  border: var(--border);
  border-radius: var(--b-radius);
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--b-radius);
  background-color: var(--c-white-transparent);
  backdrop-filter: blur(14px);
}

.todo-item-btns {
  display: flex;
  gap: 5px;
}

.todo-item_completed {
  text-decoration: line-through;
}

.todo-item_completed::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--c-purple-transparent);
  border-radius: var(--b-radius);
}

.todo-item_completed button {
  z-index: 2;
}

.highlighted-cell {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 2px calc(50% - 3.5px);
  background-color: var(--c-pink);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--c-white-transparent);
  padding: 30px;
  backdrop-filter: blur(14px);
  border-radius: var(--b-radius);
  border: var(--border);
}

.ant-form-item-required {
  color: var(--c-black) !important;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: var(--c-black);
  max-width: 500px;
}

.welcome-page p {
  font-size: 18px;
}

@media screen and (max-width: 780px) {
  .main-page {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 420px) {
  /* .header {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .greetings {
    grid-area: 2/1/2/span 2;
  } */

  .calendar {
    padding: 10px;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    top: 100px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    top: -100px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}